@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");

html {
  overflow: hidden;
  font: "Nanum Gothic", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  /* height: 100%; */
}

body {
  font: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 100%;
  margin: 0;
  height: 100%;
  line-height: 1;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}

.numbox {
  /* width: 0.9em; */
  display: inline-block;
  text-align: left;
}

.numd {
  /* width: 1.3em; */
  text-align: right;
}

.numc {
  /* width: 1.1em; */
  text-align: left;
}

#outbox {
  position: relative;
  border: 0px solid silver;
  padding: 1ex;
  width: 36em;
  height: 6em;
  margin: auto;
}

#output_msg {
  text-align: center;
  margin: .25em 0;
}

#output {
  font-size: 4em;
  font-family: 'Share Tech Mono', monospace;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  line-height: 1;
  letter-spacing: -0.1em;
  cursor: default;
}

#infoopen,
#infoclose {
  cursor: pointer;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  position: absolute;
  right: .5em;
  /* margin-left: 27.5em;
    background: #ddd; */
  /* padding: .5em; */
}

#info {
  height: 6em;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  margin: auto;
  overflow: hidden;
}

.onclick {
  /* background-color: #f32; */
}

.offclick {
  background-color: #fff;
}
